<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="JoeBengalen\Tables Test Suite">
            <directory>phpunit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="apitest/coverage" showUncoveredFiles="true"/>
        <log type="testdox-text" target="apitest/testdox.txt"/>
    </logging>
</phpunit>
